<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xxl.job.admin.dao.XxlJobGroupJobServiceDao">

    <resultMap id="XxlJobInject" type="com.xxl.job.admin.core.model.XxlJobInject" >
        <result column="id" property="id" />
        <result column="group_id" property="groupId" />
        <result column="type" property="type" />
        <result column="job_service" property="jobService" />
        <result column="jobhandler_name" property="jobhandlerName" />
    </resultMap>

    <sql id="Base_Column_List">
		t.id,
		t.group_id,
		t.type,
		t.job_service,
		t.jobhandler_name
	</sql>

    <select id="getJobInjectByJobHandlerName" resultMap="XxlJobInject" parameterType="com.xxl.job.admin.core.model.XxlJobInject">
        SELECT <include refid="Base_Column_List" />
        FROM XXL_JOB_QRTZ_TRIGGER_GROUP_JOBHANDLER AS t
        <trim prefix="WHERE" prefixOverrides="AND | OR" >
            <if test="id!=null and id gt 0">
                AND t.id = #{id}
            </if>
            <if test="groupId!=null and groupId gt 0">
                AND t.group_id = #{groupId}
            </if>
            <if test="jobService != null and jobService != ''">
                AND t.job_service like CONCAT(CONCAT('%', #{jobService}), '%')
            </if>
            <if test="jobhandlerName != null and jobhandlerName != ''">
                AND t.jobhandler_name = #{jobhandlerName}
            </if>
        </trim>
    </select>

    <insert id="save" parameterType="com.xxl.job.admin.core.model.XxlJobInject" useGeneratedKeys="true" keyProperty="id" >
		INSERT INTO XXL_JOB_QRTZ_TRIGGER_GROUP_JOBHANDLER ( `group_id`, `type`, `job_service`, `jobhandler_name`)
		values ( #{groupId}, #{type}, #{jobService}, #{jobhandlerName});
	</insert>

    <update id="update" parameterType="com.xxl.job.admin.core.model.XxlJobInject" >
		UPDATE XXL_JOB_QRTZ_TRIGGER_GROUP_JOBHANDLER
		SET `type` = #{type},
			`job_service` = #{jobService},
			`jobhandler_name` = #{jobhandlerName}
		WHERE id = #{id}
	</update>

    <delete id="remove" parameterType="java.lang.Integer" >
		DELETE FROM XXL_JOB_QRTZ_TRIGGER_GROUP_JOBHANDLER
		WHERE id = #{id}
	</delete>

</mapper>